extends layout

block content
  h1= title
  - let pens = results;
  button.btn( class="btn-primary ml-1", onclick= `dispatch(\"/pen/create\")`) Create new Pen 
  table(class="table table-stripped table-bordered")
        thead(style="background-color:green; color:white") 
            tr
                td Pen ID
                td Pen name 
                td Pen Color 
                td Pen Price
                td Update 
                td Details 
                td Delete
        tbody 
            each pen in pens 
                - let destination = `dispatch(\"/pen/update?id=${pen._id}\")`
                tr
                    td #{pen._id}
                    td #{pen.pName}
                    td #{pen.pColor}
                    td #{pen.pPrice}
                    td
                      button.btn( class="btn-primary ml-1", onclick= destination) Update
                    td
                      button.btn( class="btn-primary ml-1", onclick= `dispatch(\"/pen/detail?id=${pen._id}\")`) Detail
                    td
                      button.btn( class="btn-primary ml-1", onclick= `dispatch(\"/pen/delete?id=${pen._id}\")`) Delete
                script.
                    function dispatch(path){
                      window.location.href=path
                    }