extends layout

block content
  h1= title
  - let pens = results; 
  table(class="table table-stripped table-bordered")
        thead(style="background-color:green; color:white") 
            tr
                td Pen ID
                td Pen name 
                td Pen Color 
                td Pen Price 
        tbody 
            each pen in pens 
                tr
                    td #{pen._id}
                    td #{pen.pName}
                    td #{pen.pColor}
                    td #{pen.pPrice}